@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    overflow-x: none;
}
header{
    background-color: white;
    width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 9vh;
    border-bottom:3px #f0f0f0 solid;
    
  }
  
  .logo{
    color:#f0f0f0;
    margin-left: 50px;
  }
  
  .navigation {
    margin-left: 50px;
  }
  .navigation a{
    padding-left: 50px;
    text-decoration: none;
    color: white;
    transition: 0.6s ease;
  
  }
  .navigation a:hover{
    color: #a82c8c;
  }
  .login{
    margin-right: 10px;
    border: solid 1px transparent;
  
  }
  .navigation a,
  .logo h2,
  .footer-bottom p {
        color: black;
  }
  
  .login button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    width: 140px;
    text-align: center;
    margin-left: -90px;
    background-color:#f0f0f0;
    color: black;
    transition: 0.6s ease;
    
    
    
  }
  
  
  .login button:hover{
    color: #f0f0f0;
    background-color: purple;
    cursor: pointer;
  }
  #myaccButton{
    margin-right: 100px;
  }
  #loginnButton{
    margin-right: 200PX;
  }
  

.book-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    background-color:#ececec;
    border: 1px solid #fff;
    min-height: 10em;
    width: 400px;
    overflow: hidden;
    border-radius: 0px;
    margin: 20px;
    transition: 0.7s ease;
    margin-left: 200px;
    position: relative;
}
.card .book-image{
    width: 60em;
    padding-right:550px;
    height: 600px;
    overflow: hidden;
    margin-bottom: -20px;
    
}
.card .book-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section{
    margin-bottom: 100px;
    margin-top: 1px;
}

.right-side{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 700px;
    margin-bottom: 400px;
    margin-top: 310px;
    
    
}
.second-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 400px;
}
.second-line div{
    margin-right: 25px;
}
.list-one li{
padding-left: -5px;
margin-right: 30px;

}

.watch-butt{
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    margin-top: 10px;
    border: 1px solid;
    background-color: white;
    transition: .7s ease;
    
}
.watch-butt:hover{
    cursor: pointer;
    background-color:#ce2eae;
    color: white;
    transform: scale(1.1);
}

.modal {
    display: none; 
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); 
  }

  .modal-content {
    background-color:transparent;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid transparent;
    width: 90%; 
    max-width:1000px; 
    height: 60%; 
    max-height: 600px; 
    overflow: hidden; 
}

iframe {
    width: 100%; 
    height: 100%; 
}
  
  .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.fourth-line{
    margin-top: 15px;
}
.fourth-line div{
    font-weight: 500;
}
.fourth-line hr{
    width: 100%;
    
}
.line-butt:hover .day{
    color: white;
}

.line-content{
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 5px;


}
.line-card button{
    width: 5rem;
    height: 6rem;
    border-radius: 5px;
    border: 1px transparent;
    background-color: #f0f0f0;
    transition: 0.7s ease;
    

}
.line-butt div{
display: flex;
flex-direction: column;
justify-content: space-between;

}
.thu {
color:#ce2eae;
transition: 0.7s ease;
}
.day{
    font-size: 30px;
    font-weight: 600;
    transition: 0.7s ease;
}
.line-butt:hover{
    background-color:#ce2eae;
    cursor: pointer;
    
}
.line-butt:hover .thu {
    color: black;
}

.sixth-line {
    margin-top: 50px;
    margin-bottom:  -150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sixth-content strong {
    font-size: 30px;
    font-weight: 500;
    color: #ce2eae;
}
.regular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sixth-list  li{
    margin-right: 490px;
}
.sixth-button{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-top: 10px;
padding-right: 340px;
}
.sixth-button button{
    border-radius: 7.5px;
    padding: 2.5px;
    width:150px;
    border: solid 0.2px rgb(81, 81, 81);
    transition: 0.7s ease;
    position: relative;
}
.sixth-button button:hover{
    cursor: pointer;
    background-color: #ce2eae;

}








footer {
    margin-top: 0px;
    background-color: #f0f0f0;
}

.footer-container {
    width: 100%;
    padding: 15px;

}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.footer-icons a{
    text-decoration: none;
    padding: 15px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.footer-icons i{
    font-size: 1.8em;
    color:#ce2eae;
    opacity: 0.9;
    
}

.footer-icons a:hover {
    background-color:#ce2eae;
    transform: scale(1.05);
}

.footer-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px;
    margin-bottom: -1px;
    margin-top: 5px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color:#ce2eae;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.9;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    color: black;
    opacity: 1;
}

.footer-bottom {
    color:#ce2eae;
    background-color: #f0f0f0;
    text-align:center;
}