@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
header{
    background-color: white;
    width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 9vh;
    border-bottom:3px #f0f0f0 solid;
    
  }
  
  .logo{
    color:#f0f0f0;
    margin-left: 50px;
  }
  
  .navigation {
    margin-left: 50px;
  }
  .navigation a{
    padding-left: 50px;
    text-decoration: none;
    color: white;
    transition: 0.6s ease;
  
  }
  .navigation a:hover{
    color: #A02D8A;
  }
  .login{
    margin-right: 10px;
    border: solid 1px transparent;
  
  }
  .navigation a,
  .logo h2,
  .footer-bottom p {
        color: black;
  }
  
  .login button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    width: 140px;
    text-align: center;
    margin-left: -90px;
    background-color:white;
    color: black;
    transition: 0.6s ease;
    
    
    
  }
  
  
  .login button:hover{
    color: #f0f0f0;
    background-color: #A02D8A;
    cursor: pointer;
  }
  #myaccButton{
    margin-right: 100px;
  }
  #loginnButton{
    margin-right: 200PX;
  }
  


.first-category{
    min-height: 100vh;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color:#ececec;
    border: 1px solid #fff;
    min-height: 10em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    
}
.image-one img{
    width: 100%;
}

.card-name{
    margin-left: 10px;
    
}

.more-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
   
}
.card-list{
    margin-right: 150px;
    margin-top: 0px;
}
.card:hover{
    transform: scale(1.05);
    opacity: 0.85;
    cursor: pointer;
}
.first-logo{
    font-size: 45px;
    margin-left: 170px;
    margin-top: 15px;
    font-weight: 500;
}
#james img{
    height: 477px;
}
#Garfield img{
height: 470px;
}
#Kingdom img{
    height: 470px;
}
#srb ul{
display: inline-block;
text-wrap: nowrap;
margin-left: 30px;
}
#winnie ul{
    display: inline-block;
text-wrap: nowrap;
margin-left: 30px;
}




