@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

header{
    background-color: white;
    width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 9vh;
    border-bottom:1px #f0f0f0 solid;
    
  }
  
  .logo{
    color:#f0f0f0;
    margin-left: 50px;
  }
  
  .navigation {
    margin-left: 50px;
  }
  .navigation a{
    padding-left: 50px;
    text-decoration: none;
    color: white;
    transition: 0.6s ease;
  
  }
  .navigation a:hover{
    color: #A02D8A;
  }
  .login{
    margin-right: 10px;
    border: solid 1px transparent;
  
  }
  .navigation a,
  .logo h2,
  .footer-bottom p {
        color: black;
  }
  
  .login button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    width: 140px;
    text-align: center;
    margin-left: -90px;
    background-color:white;
    color: black;
    transition: 0.6s ease;
    
    
    
  }
  
  
  .login button:hover{
    color: #f0f0f0;
    background-color: #A02D8A;
    cursor: pointer;
  }
  #myaccButton{
    margin-right: 100px;
  }
  #loginnButton{
    margin-right: 200PX;
  }
  

body{
    margin-bottom: -1000px;
}

.contact-container {
    display: flex;
    position: relative;
}

.contact-information {
    border-top: 3px solid #f0f0f0;
    border-right: 3px solid #f0f0f0;
    min-width: 50%;
    max-width: 50%; 
    display: flex;
    justify-content: center;
}

.h1 {
    margin-top: 100px;
    margin-left: 350px;
    font-weight: 400;
}

#p1 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 70px;
    margin-left: 308px;
    text-align: center;
}

#p2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 181px;
    text-align: center;
}

.contact-information i {
    text-align: center;
    color: #A02D8A;
    font-size: 1.4em;
}

.contact-us {
    border-top: 3px solid #f0f0f0;
    min-width: 50%;
    max-width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-us h1, h3, form{
    margin-left: 50px;
}

.contact-us h1 {
    margin-top: 95.5px;
    font-weight: 400;
}

.contact-form form{
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
}

.contact-form select{
    margin-top: 49px;
    width: 65%;
    padding: 10px 0px 10px 25px;
    border: transparent;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.name {
    margin-top: 20px;
    width: 65%;
    padding: 10px 0px 10px 25px;
    border: transparent;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.email {
    margin-top: 20px;
    width: 32.5%;
    padding: 10px 0px 10px 25px;
    border: transparent;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.phone {
    width: 32.5%;
    padding: 10px 0px 10px 25px;
    border: transparent;
    border-radius: 5px;
    background-color: #f0f0f0;
}

textarea {
    margin-top: 20px;
    width: 65%;
    height: 150px;
    padding: 10px 0px 10px 25px;
    border: transparent;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.contact-form button {
    margin-top: 50px;
    padding: 10px;
    width: 25%;
    border: transparent;
    background-color: #A02D8A;
    color: white;
    transition: 0.7s ease;
    border-radius: 5px;
}

.contact-form button:hover {
    transform: translateY(-20px);
    background-color: hsl(300, 100%, 34%);
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


