@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


.container {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.left-section {
    background-color:#ececec;
    border: 1px solid #fff;
    min-height: 10em;
    width: 400px;
    overflow: hidden;
    border-radius: 0px;
    margin: 20px;
    transition: 0.7s ease;
    margin-left: 200px;
    position: relative;
}

.left-section .image-container {
    width: 60em;
    padding-right:550px;
    height: 600px;
    overflow: hidden;
    margin-bottom: -20px;
}

.left-section .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    margin-bottom: 100px;
    margin-top: 1px;
}

.right-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 700px;
    margin-bottom: 400px;
    margin-top: 6px;
}

.modal {
    display: none; 
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); 
  }

  .modal-content {
    background-color:transparent;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid transparent;
    width: 90%; 
    max-width:1000px; 
    height: 60%; 
    max-height: 600px; 
    overflow: hidden; 
}

iframe {
    width: 100%; 
    height: 100%; 
}
  
  .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.second-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 400px;
}
.second-line div {
    margin-right: 25px;
}

.watch-butt{
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    margin-top: 10px;
    border: 1px solid;
    background-color: white;
    transition: .7s ease;
    
}

.watch-butt:hover{
    cursor: pointer;
    background-color:#A02D8A;
    color: white;
    transform: scale(1.1);
}

.fourth-line {
    width: 60%;
    margin-top: 40px;
}

footer {
    margin-top: 0px;
    background-color: #f0f0f0;
}

.footer-container {
    width: 100%;
    padding: 15px;

}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.footer-icons a{
    text-decoration: none;
    padding: 15px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.footer-icons i{
    font-size: 1.8em;
    color:#A02D8A;
    opacity: 0.9;
    
}

.footer-icons a:hover {
    background-color:#A02D8A;
    transform: scale(1.05);
}

.footer-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px;
    margin-bottom: -1px;
    margin-top: 5px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color:#A02D8A;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.9;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    color: black;
    opacity: 1;
}

.footer-bottom {
    color#A02D8A;
    background-color: #f0f0f0;
    text-align:center;
}