@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
header{
    background-color: black;
    width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 9vh;
    
}
.logo{
    color:#f0f0f0;
    margin-left: 50px;
}

.navigation a{
    padding-right: 20px;
    text-decoration: none;
    color: #f0f0f0;
    transition: 0.2s ease;

}
.navigation a:hover{
    color: #952a80;
}
.login{
    margin-right: 150px;
    border: solid 1px transparent;

}
.login button{
    padding: 5px 35px;
    border: transparent;
    border-radius: 20px;
    transition: 0.7s ease;
}
.login button:hover{
    color: #f0f0f0;
    background-color: purple;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.card {
    background-color:#ececec;
    border: 1px solid #fff;
    min-height: 10em;
    width: 400px;
    overflow: hidden;
    border-radius: 0px;
    margin: 20px;
    transition: 0.7s ease;
    margin-left: 290px;
    position: relative;
}
.card .image-container {
    width: 60em;
    padding-right:550px;
    height: 600px;
    overflow: hidden;
    margin-bottom: -20px;
}

.image-container {
    width: 60em;
    padding-right: 550px;
    height: 600px;
    overflow: hidden;
    margin-bottom: -20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info h2{
    font-weight: 500;
    margin-left: 5px;
    margin-top: 30px;
}

.info h5 {
    color: hsl(0, 0%, 26%);
    margin-top: 5px;
    font-weight: 450;
    margin-left: 6px;
}

.info button {
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

footer {
    margin-top: 0px;
    background-color: #f0f0f0;
}

.footer-container {
    width: 100%;
    padding: 15px;

}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.footer-icons a{
    text-decoration: none;
    padding: 15px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.footer-icons i{
    font-size: 1.8em;
    color:#ce2eae;
    opacity: 0.9;
    
}

.footer-icons a:hover {
    background-color:#ce2eae;
    transform: scale(1.05);
}

.footer-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px;
    margin-bottom: -1px;
    margin-top: 5px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color:#ce2eae;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.9;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    color: black;
    opacity: 1;
}

.footer-bottom {
    color:#ce2eae;
    background-color: #f0f0f0;
    text-align:center;
}