header{
    background-color: white;
    width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 9vh;
    border-bottom:3px #f0f0f0 solid;
  }
  
  .logo{
    color:#f0f0f0;
    margin-left: 50px;
  }
  
  .navigation {
    margin-left: 150px;
  }
  .navigation a{
    padding-left: 50px;
    text-decoration: none;
    color: white;
    transition: 0.6s ease;
  
  }
  .navigation a:hover{
    color: #A02D8A;
  }
  .login{
    margin-right: 10px;
    border: solid 1px transparent;
  
  }
  .navigation a,
  .logo h2,
  .footer-bottom p {
        color: black;
  }
  
  .login button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    width: 140px;
    text-align: center;
    margin-left: -90px;
    background-color:white;
    color: black;
    transition: 0.6s ease; 
  }
  .login button:hover{
    color: #f0f0f0;
    background-color: #A02D8A;
    cursor: pointer;
  }
  #myaccButton{
    margin-right: 100px;
  }
  #loginnButton{
    margin-right: 200PX;
  }
