@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
header{
  background-color: white;
  width: 100%;
  position: static;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 9vh;
  border-bottom:3px #f0f0f0 solid;
  
}

.logo{
  color:#f0f0f0;
  margin-left: 50px;
}

.navigation {
  margin-left: 50px;
}
.navigation a{
  padding-left: 50px;
  text-decoration: none;
  color: white;
  transition: 0.6s ease;

}
.navigation a:hover{
  color: #a82c8c;
}
.login{
  margin-right: 10px;
  border: solid 1px transparent;

}
.navigation a,
.logo h2,
.footer-bottom p {
      color: black;
}

.login button{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  width: 140px;
  text-align: center;
  margin-left: -90px;
  background-color:#f0f0f0;
  color: black;
  transition: 0.6s ease;
  
  
  
}


.login button:hover{
  color: #f0f0f0;
  background-color: purple;
  cursor: pointer;
}
#myaccButton{
  margin-right: 100px;
}
#loginnButton{
  margin-right: 200PX;
}

body {
    margin: 0;
    padding: 0;
    
  }

  .container {
    display: flex;
    height: 100vh;
    margin-top: -90px;
  }

  .left-section,
  .right-section {
    flex: 1;
    padding: 20px;
  }

  .left-section {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 5px grey; 
    border-top: 3px solid #f0f0f0;
    border-right: 3px solid #f0f0f0;
    margin-top: 87px;
  }

  .maintagcontact {
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 250px;
  }

  .right-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 87px;
    border-top: 3px solid #f0f0f0;
  }

  .signin-form {
    margin-bottom: 120px;
    margin-right: 400px;
    margin-bottom: 280px;
  }


  #email,
  #password {
    background: #f3f3f3;
    border-radius: 5px;
    padding: 0px 20px;
    border: 0px;
    width: 100%;
    margin-bottom: 10px;
    color: #171717;
    font-size: 14px;
    margin-top: 10px;
    height: 46px;
  }

  #signin {
    border-radius: 5px;
    align-items: flex-start;
    font-family: "Co Headline";
    box-sizing: border-box;
    width: 250px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    display: block;
    background: #a02d8a;
    margin: 0 auto;
    padding: 9px 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: 0px;
  }

  .social-login {
    text-align: center;
  }

  .social_login {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .social_login li {
    display: inline-block;
    margin-right: 10px;
  }

  .social-icon {
    width: 25px;
    height: auto;
    margin: 5px;
    display: block;
  }

  .dont-have-account {
    color: black;
    text-decoration: none;
    font-size: 14px;
  }

  .create-account,
  .forgot-password {
    color: purple;
    text-decoration: none;
    font-size: 14px;
  }

  .create-account:hover,
  .forgot-password:hover {
    text-decoration: none;
  }

  .no-bullet {
    list-style-type: none;
  }

footer {
    margin-top: 0px;
    background-color: #f0f0f0;
}

.footer-container {
    width: 100%;
    padding: 15px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.footer-icons a{
    text-decoration: none;
    padding: 15px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.footer-icons i{
    font-size: 1.8em;
    color: purple;
    opacity: 0.9;
    
}

.footer-icons a:hover {
    background-color: purple;
    transform: scale(1.05);
}

.footer-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px;
    margin-bottom: -1px;
    margin-top: 5px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color: purple;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.9;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    color: black;
    opacity: 1;
}

.footer-bottom {
    color: purple;
    background-color: #f0f0f0;
    text-align:center;
}