*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
body {
    margin-bottom: 0;
    padding: 0;
    min-height: 100vh;
}
header{
    background-color: black;
    width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 9vh;
    border-bottom: 3px solid #f0f0f0;
    
}
.logo{
    color:black;
    margin-left: 50px;
}

.navigation a{
    padding-right: 20px;
    text-decoration: none;
    color: black;
    transition: 0.2s ease;

}
.navigation a:hover{
    color: #952a80;
}
.login{
    margin-right: 150px;
    border: solid 1px transparent;

}
.login button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    width: 140px;
    text-align: center;
    margin-left: 0px;
    background-color: transparent;
}
.navigation a,
.logo h2,
.footer-bottom p {
        color: black;
}

.login button:hover{
    color: #f0f0f0;
    background-color: purple;
    cursor: pointer;
}

.container {
    display: flex;
    height: 100vh;
  }
  footer {
    margin-top: 0px;
    background-color: #f0f0f0;
    margin-bottom: 0;
}

.footer-container {
    width: 100%;
    padding: 15px;

}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.footer-icons a{
    text-decoration: none;
    padding: 15px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.footer-icons i{
    font-size: 1.8em;
    color: purple;
    opacity: 0.9;
    
}

.footer-icons a:hover {
    background-color: purple;
    transform: scale(1.05);
}

.footer-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px;
    margin-bottom: -1px;
    margin-top: 5px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color: purple;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.9;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    color: black;
    opacity: 1;
}

.footer-bottom {
    color: purple;
    background-color: #f0f0f0;
    text-align:center;
}

