@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

body {
    margin-bottom: 0;
    padding: 0;
    min-height: 100vh;
}


.container {
    display: flex;
    height: 100vh;
  }

  .left-section,
  .right-section {
    flex: 1;
    padding: 20px;
  }

  .left-section {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 5px grey; 
    border-top: 3px solid #f0f0f0;
    border-right: 3px solid #f0f0f0;
    margin-top: 87px;
  }

  .inner-content {
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 600px;
  }

  .inner-content h1 {
    margin-top: 90px;
    margin-left: 290px;
    font-weight: 400;
}

#p1 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 70px;
    margin-left: 300px;
    text-align: center;
}

#p2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 180px;
    text-align: center;
}

.inner-content i {
    text-align: center;
    color: purple;
    font-size: 1.4em;
}

.right-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 87px;
    border-top: 3px solid #f0f0f0;
  }

.inside-content {
    margin-bottom: 120px;
    margin-right: 400px;
    margin-bottom: 455px;
}

#signin {
    border-radius: 5px;
    align-items: flex-start;
    font-family: "Co Headline";
    box-sizing: border-box;
    width: 200px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    display: block;
    background: #a02d8a;
    margin: 0 auto;
    padding: 9px 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: 0px; 
    margin: auto;
    
}

#email{
        background: #F3F3F3;
    border-radius: 5px;
    padding: 0px 20px;
    border: 0px;
    width: 130%;
    margin-bottom: 10px;
    color: #171717;
    font-size: 14px;
    margin-top: 10px;
    height: 46px;
    margin-right: 100px;

}
    h3{
        font-size: calc(1.3rem + .6vw);
    }
    p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
unicode-bidi: isolate;
}


footer {
    margin-top: 0px;
    background-color: #f0f0f0;
    margin-bottom: 0;
}

.footer-container {
    width: 100%;
    padding: 15px;

}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.footer-icons a{
    text-decoration: none;
    padding: 15px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.footer-icons i{
    font-size: 1.8em;
    color: purple;
    opacity: 0.9;
    
}

.footer-icons a:hover {
    background-color: purple;
    transform: scale(1.05);
}

.footer-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px;
    margin-bottom: -1px;
    margin-top: 5px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color: purple;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.9;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    color: black;
    opacity: 1;
}

.footer-bottom {
    color: purple;
    background-color: #f0f0f0;
    text-align:center;
}
