body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Gotham", sans-serif;
    background: #f2f2f2;
  }
  
  .container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    margin-bottom: 20px;
    font-size: 24px;
    color: #01338d;
  }
  
  .containers {
    background: #ffffff;
    box-shadow: 0px 0px 23px #0080f917;
    border-radius: 24px;
    max-width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
  }

  .visa-image {
    margin-right: 20px;
    width: 50%; 
    margin-bottom: 9%;
  }

  .form-container {
    flex: 1;
  }

  .card-num-input input,
  .input-containers input {
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 10px;
    box-shadow: 1px 2px 5px whitesmoke;
    margin-bottom: 10px;
    border: 1px solid #b5cfe8;
    font-size: 16px;
    color: #7f98c5;
  }

  .input-containers {
    display: flex;
    justify-content: space-between;
  }

  .submit {
    background: #1782fb;
    border-radius: 11px;
    border: none;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: all ease-in-out 0.3s;
    margin-top: 10px;
  }

  .footer {
    text-align: center;
    margin-top: 20px;
    color: #7f98c5;
    display: flex;
    flex-direction: column; /* Added */
    align-items: center; /* Added */
  }

  #paymobimg {
    width: 150px; /* Increased size */
    height: auto;
    margin-top: 10px; /* Added */
  }

  .checkbox-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
  }