@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
header{
    background-color: transparent;
    width: 100%;
    position:absolute;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 9vh;
    
}
.logo{
    color:#f0f0f0;
    margin-left: 50px;
}

.navigation {
    margin-left: 50px;
}
.navigation a{
    padding-left: 50px;
    text-decoration: none;
    color: white;
    transition: 0.6s ease;

}
.navigation a:hover{
    color: #A02D8A;
}

.login button{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    width: 140px;
    text-align: center;
    margin-left: -90px;
    background-color: transparent;
    color: white;
    transition: 0.6s ease;
    
}


.login button:hover{
    color: #f0f0f0;
    background-color: #A02D8A;
    cursor: pointer;#A02D8A
}
#myaccButton{
    margin-right: 100px;
}
#loginnButton{
    margin-right: 200PX;
}
.info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top:190px ;
    margin-left: 150px;
    
}
.info strong{
    margin-top:20px ;
    font-size: 50px;
    color: white;
    margin-left: -9px;
    font-family:Arial, Helvetica, sans-serif;
}
.info .booknow {
margin-top: 20px;
margin-left: -9px;
height: 39px;
width: 200px;
border-radius: 5px;
border: solid transparent;
background-color: #A02D8A;
transition: 0.7s ease;
font-size: 20px;
color: white;
}
.info .booknow:hover{
    color:white;
    background-color: black;
    cursor: pointer;
    transform:translateY(5px)
}
.info div{
    letter-spacing: 1px;
    color: white;
    font-size: 19px;
    margin-bottom: -5px;
}
.first-category{
    min-height: 100vh;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color:#ececec;
    border: 1px solid #fff;
    min-height: 10em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    
}
.image-one img{
    width: 100%;
}

.card-name{
    margin-left: 10px;
    
}

.more-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}
.card-list{
    margin-right: 150px;
    margin-top: 0px;
}
.card:hover{
    transform: scale(1.05);
    opacity: 0.85;
    cursor: pointer;
}
.first-logo{
    font-size: 55px;
    margin-left: 72.5px;
    margin-top: 15px;
    font-weight: 500;
}

footer {
    margin-top: 0px;
    background-color: #f0f0f0;
}

.footer-container {
    width: 100%;
    padding: 15px;

}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.footer-icons a{
    text-decoration: none;
    padding: 15px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.footer-icons i{
    font-size: 1.8em;
    color: #A02D8A;
    opacity: 0.9;
    
}

.footer-icons a:hover {
    background-color: #A02D8A;
    transform: scale(1.05);
}

.footer-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px;
    margin-bottom: -1px;
    margin-top: 5px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color: #A02D8A;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.9;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    color: black;
    opacity: 1;
}

.footer-bottom {
    color: #A02D8A;
    background-color: #f0f0f0;
    text-align:center;
}

.footer-bottom p {
    color:#A02D8A;
}